
.header-container {
    box-shadow: 0px 4px 12px rgb(225, 225, 225);
    padding: 8px 0;
    background-color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

.header-wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
}

.header-wrapper img {
    width: 120px;
}

.header-wrapper a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(35, 35, 35);
}