.post {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
    gap: 12px;
}

.text {
	padding: 5px;
	margin: 10px;
}
h2 {
	font-size: 20px;
}

.post img {
	width: 40%;
    object-fit: cover;
}
.post p {
	font-size: 12px;
	margin: 5px;
}
.post button {
	background-color: red;

	border: none;
	width: 59px;
	height: 30px;
	text-align: center;
}


@media (max-width: 576px) {
    .post img {
        width: 100%;
    }

    .post {
        flex-direction: column;
    }
}