* {
	margin: 0;
	padding: 0;
}

.post {
	width: 550px;
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.text {
	padding: 5px;
	margin: 10px;
}
h2 {
	font-size: 20px;
}

.post img {
	width: 40%;
}
.post p {
	font-size: 12px;
	margin: 5px;
}
.post button {
	background-color: red;

	border: none;
	width: 59px;
	height: 30px;
	text-align: center;
}
